body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loop{
  background-image: url(./images/car\ game.jpeg);
  height: 400px;
  background-size: cover;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.studio{
  margin-left: 100px;
  color: white;
}
.about{
   display: flex;
   justify-content: space-evenly;
   width: 270pt;
   color: white;
   margin-right: 100px;
}
.that{
  border: solid 1px;
  width: 190px;
  color: white;
  margin-left: 100px;
  margin-top: 100px;
}
.that p{
  width: 55%;
}
.pic{
  margin-top: 50px;
  display: flex;
  margin-left: 90px;
}
.leader{
  background-color: white;
  width: 400px;
  height: 250px;
  margin-top: 300px;
  margin-left: -150px;
}
.our{
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
.see{
  width: 100px;
  height: 20px;
}
.grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 70%;
  height: 50%;
  margin: auto;
}
.A{
  background-color: black;
  height:100px;
  display: flex;
}
.C{
  width: 270pt;
  color: white;
}

.C p{
  display: inline;
  margin-left: 10px;
}
.icon{
  margin-left: 600px;
  position: relative;
  margin-top: 10px;
}
.icon i{
  color: white;
  justify-content: space-between;
  padding-right: 30px;
}
.Al{
  color: white;
}

@media(max-width:480){
  
}